



.box {
margin-bottom: 30px;

}


.box div:nth-of-type(1) {
    background: #000;
    width: 100px;
    height: 100px;
    position: relative;
    border-radius: 50%;

    animation-name: boxMove;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    animation-duration: 5s;
    animation-delay: 3s;

  
}

.box div:nth-of-type(2) {
    background: red;
    width: 100px;
    height: 100px;
    position: absolute;
    border-radius: 50%;

    top: 10px;
    left: 10px;
    animation-name: boxMove;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    animation-duration: 5s;
    animation-delay: 4s;


  
   

}
.box div:nth-of-type(3) {
    background: rgb(68, 0, 255);
    width: 100px;
    height: 100px;
    position: absolute;
    border-radius: 50%;

    top: 10px;
    left: 10px;
    animation-name: boxMove;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    animation-duration: 5s;
    animation-delay: 5s;


  
   
   

}
.box div:nth-of-type(4) {
    background: rgb(251, 255, 0);
    width: 100px;
    height: 100px;
    position: absolute;
    border-radius: 50%;

    top: 10px;
    left: 10px;
    animation-name: boxMove;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    animation-duration: 5s;
    animation-delay: 6s;

}




@keyframes boxMove {
    0% { left:0px; top: 0px; background-color: tomato;} 
    25% { left:500px; top: 0px; background-color: gold; }
    50% { left: 500px; top: 500px; background-color: lightgreen;}
    75% { left: 0px; top: 500px; background-color: lightblue}
    100% { left: 0px; top:0px; background-color: green;}

}







/* img transition */

.box3{
    position: relative;
    margin-left: 600px;
}
img{
    position: absolute;
    height:300px;
    width:300px;
}
.box3 div{
    width:300px;
    height: 300px;
    position: absolute;
    display: flex;

    background-color: red;
    opacity: 0.5;
    top: 300px;
    overflow: hidden;
}
.box3 div h1{
    text-align: center;
    color:#fff;
    
}
.box3 div:hover{
    top:-300px;
    transition: 2s;
}
img:hover+div{
    height:300px;
    width:300px;
    top:-300px;
    transition: 4s;
}


/* ball */

.ball2 
{
    margin-top: 50%;
    display: flex;
    align-items: flex-end;

}
.blau
{

    background: blue;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    animation-name: blau;
    animation-duration: 6s;
    

}
.rot
{

    background: red;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-bottom: 50px;
    animation-name: rot;
    margin-left: 300px ;
    animation-delay: 3s;
    animation-duration: 5s;

}

.rot{


}

@keyframes blau {
    0%{
        transform:translateX(0px)
    }
    25%{
        transform:translateX(150px)
    }
    50%{
        transform:translateX(300px)
    }
   25%{
    transform:translateX(150px)
    }
    0%{
        transform:translateX(0px)
    }

}

@keyframes rot {
    0%{
        transform:translateX(0px)
    }
    25%{
        transform:translateX(250px)
    }
    50%{
        transform:translateX(500px)
    }
   25%{
    transform:translateX(500px)
    }
    0%{
        transform:translateX(0px)
    }

}


/* footer{
    display: flex;
    align-items: flex-start;
}



footer div {
    height: 600px;
    width: 300px;
    background-color: #333;
    margin-left: 10px;


} */